.link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-secondary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px;
}

.link:hover {
    color: var(--white-color);
}

.link_icon {
    display: flex;
}