:root {
  --text-main-color: #EBEEF5;
  --text-secondary-color: #A8AEBF;
  --paragraph-color: #8E95A9;
  --white-color: #FFF;
  --background-main-color: #121829;
  --primary-color: #7B6EF6;
  --primary-hover-color: rgb(123 110 246 / 60%);
  --success-color: #37D8A7;
  --grey-color: #323B54;
  --placeholder-color: #475069;
  --warning-color: #FFAD49;
  --background-transparent-color: rgba(32, 40, 62, 0.80);
  --background-dark-transparent-color: rgba(0, 0, 0, 0.65);
}

body {
  font-family: Poppins, sans-serif;
  background: var(--background-main-color);
}

a {
  text-decoration: none;
}

#root {
  max-width: 1200px;
  margin: 0 auto 60px;
  padding: 0;
}

.page-heading {
  max-width: 49%;
  margin-bottom: 80px;
}
